# 知能システム開発特論

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

## Q1

Consider the dataset in Table 18.3. Classify the new point:(Age=23,Car=truck) via the full and naive Bayes approach. You may assume that the domain of Car is given as {sports,vintage,suv,truck}.

In [2]:
df1 = pd.read_csv("../data/dataForQ1.csv")
df1

   Age      Car Class
0   25   sports     L
1   20  vintage     H
2   25   sports     L
3   45      suv     H
4   20   sports     H
5   25      suv     H

In [3]:
LE = LabelEncoder()

labels = ["Car", "Class"]

for label in labels:
    df1[label] = LE.fit_transform(df1[label])
df1

   Age  Car  Class
0   25    0      1
1   20    2      0
2   25    0      1
3   45    1      0
4   20    0      0
5   25    1      0

In [4]:
x1 = np.array(df1[['Age', 'Car']])
y1 = np.array(df1['Class'])

In [5]:
clf1 = GaussianNB()
clf1.fit(x1, y1)
clf1.predict([[23, 3]]) #Age=23,Car=truck

array([0])

new point:(Age=23,Car=truck)

Class: H

## Q2

Given the dataset in Table 18.4, use the naive Bayes classifier to classify the new point (T,F,1.0).

In [6]:
df2 = pd.read_csv("../data/dataForQ2.csv")
df2

  a1 a2   a3 Class
0  T  T  5.0     Y
1  T  T  7.0     Y
2  T  F  8.0     N
3  F  F  3.0     Y
4  F  T  7.0     N
5  F  T  4.0     N
6  F  F  5.0     N
7  T  F  6.0     Y
8  F  T  1.0     N

In [7]:
labels = ["a1", "a2", "Class"]

for label in labels:
    df2[label] = LE.fit_transform(df2[label])
df2

   a1  a2   a3  Class
0   1   1  5.0      1
1   1   1  7.0      1
2   1   0  8.0      0
3   0   0  3.0      1
4   0   1  7.0      0
5   0   1  4.0      0
6   0   0  5.0      0
7   1   0  6.0      1
8   0   1  1.0      0

In [8]:
x2 = np.array(df2[['a1', 'a2', 'a3']])
y2 = np.array(df2['Class'])

In [9]:
clf2 = GaussianNB()
clf2.fit(x2, y2)
clf2.predict([[1, 0, 1.0]]) #(T,F,1.0)

array([0])

new point (T,F,1.0)

Class: N